* {
    margin: 0;
    padding: 0;
}

.error {
    color: red;
}

.success {
    color: blue;
}


.container {
    margin: 4em auto;
    text-align: center;
}

.container>h4 {
    padding-bottom: 10px;
}


.nav ul {
    display: block
}

.nav ul li {
    display: inline-block;
    text-decoration: none;
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 24px;
    margin: 0 auto;
    border: black;
    border-style: solid;
    border-radius: 15px;

}

.label {
    color: blue;
    text-align: center;
    padding: 1em;
    vertical-align: middle;
    display: inline-block;
}

textarea {
    vertical-align: top;
}

.newPost {
    margin-left: -130px;
}

.newPost {
    margin-left: -70px;
}

.space {
    margin-left: 75px;
}

.signup {
    margin: 0 auto;
    width: 30%;
    height: 40px;
    color: white;
    background: blue;
    border-radius: 5px;
    border: black;
    text-align: center;
    cursor: pointer;
}

.post {
    width: 50%;
    margin: 10px auto;
    border: black;
    border-width: 1px;
    border-style: solid;
}