{% extends 'base.html' %}

{% block content %}


    <h4>Lets Sign up to start posting!!!</h4>
    <form action="" method='post'>
        <label class='label newPost'>Title 
        <input type="text" class='space' name='title'>
        </label> 
         <label class='label newPost2'>Body 
        <textarea type="textarea"  name='body' cols='40' rows='5' required></textarea>
         </label> 
         <input  type='submit' class='signup' name='submit' value='Post!!'>
    </form>




{% endblock %}