{% extends 'base.html' %}

{% block content %}


    <h4>Lets Sign up to start posting!!!</h4>
    <form action="" method='post'>
        <label class='label'>Username 
        <input type="text" class='space' name='username'>
        </label> 
        <label class='label'>Password 
        <input type="password" class='space' name='password'>
        </label> 
         <label class='label'>Confirm Password 
        <input type="password" name='confirmPassword'>
         </label> 
         <input type="submit" class='signup' name='signup' value='SignUp!'>
    </form>




{% endblock %}